body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    color: black;
}
header{
    min-height: 70px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    
}
.logo img{
    height: 60px;
    align-items: center;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 25px;
}
nav a:hover{
    color: #2A8DED;
}
.barra-lateral{
    padding: 10px 50px;
}
.barra-lateral-row{
    padding: 10px 15px;
    background-color: #D9D9D9;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.active-rowie{
    background-color: #FFFFFF;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0px solid black;
}
.grande{
    padding: 10px 25px;
}