body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #24135F;
}
header{
    min-height: 70px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    
}
.logo img{
    height: 60px;
    align-items: center;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 25px;
}
nav a:hover{
    color: #2A8DED;
}

h1{
    margin-left: 250px;

}

  .row{
    margin-left: 250px;
    margin-right: 250px;
  }

  .borderBox1{
    border-width:3px; 
    border-style:solid; 
    border-color:#FF0000; 
    padding: 1em;

    width: 130px;
  }
  .borderBox2{
    border-width:3px; 
    border-style:solid; 
    border-color:#FF0000; 
    padding: 1em;

    width: 130px;
  }
  .borderBox3{
    border-width:3px; 
    border-style:solid; 
    border-color:#FF0000; 
    padding: 1em;

    width: 130px;
  }
  

